{
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\.\\./",
    "",
    "^(\\./|\\.$)"
  ]
}
