:root {
  /* Primaries */
  --black-atom-black-atom-operations-primary-0: #141515;
  --black-atom-black-atom-operations-primary-1: #181b1a;
  --black-atom-black-atom-operations-primary-2: #1c1f1e;
  --black-atom-black-atom-operations-primary-3: #222726;
  --black-atom-black-atom-operations-primary-4: #3b4743;
  --black-atom-black-atom-operations-primary-5: #52635d;
  --black-atom-black-atom-operations-primary-6: #5b6f68;
  --black-atom-black-atom-operations-primary-7: #738b83;
  --black-atom-black-atom-operations-primary-8: #9fafa7;
  --black-atom-black-atom-operations-primary-9: #abbbb3;
  --black-atom-black-atom-operations-primary-10: #c4d4cc;
  --black-atom-black-atom-operations-primary-11: #d0e0d8;

  /* Palette */
  --black-atom-black-atom-operations-black: #181b1a;
  --black-atom-black-atom-operations-gray: #3b4743;
  --black-atom-black-atom-operations-dark-red: #9891d6;
  --black-atom-black-atom-operations-red: #a6a1df;
  --black-atom-black-atom-operations-dark-green: #93c270;
  --black-atom-black-atom-operations-green: #a0ce7d;
  --black-atom-black-atom-operations-dark-yellow: #9fafa7;
  --black-atom-black-atom-operations-yellow: #9BE197;
  --black-atom-black-atom-operations-dark-blue: #abbbb3;
  --black-atom-black-atom-operations-blue: #c4d4cc;
  --black-atom-black-atom-operations-dark-magenta: #a498e9;
  --black-atom-black-atom-operations-magenta: #b7aded;
  --black-atom-black-atom-operations-dark-cyan: #6ac779;
  --black-atom-black-atom-operations-cyan: #88dc96;
  --black-atom-black-atom-operations-light-gray: #738b83;
  --black-atom-black-atom-operations-white: #c4d4cc;

  /* Semantics */
  --black-atom-black-atom-operations-bg-primary-dark: #141515;
  --black-atom-black-atom-operations-bg-primary-main: #181b1a;
  --black-atom-black-atom-operations-bg-primary-light: #1c1f1e;
  --black-atom-black-atom-operations-bg-secondary-dark: #222726;
  --black-atom-black-atom-operations-bg-secondary-main: #3b4743;
  --black-atom-black-atom-operations-bg-secondary-light: #52635d;
  --black-atom-black-atom-operations-bg-active: #222726;
  --black-atom-black-atom-operations-bg-match-active: #222726;
  --black-atom-black-atom-operations-bg-match-passive: #3b4743;
  --black-atom-black-atom-operations-fg-primary-dark: #abbbb3;
  --black-atom-black-atom-operations-fg-primary-main: #c4d4cc;
  --black-atom-black-atom-operations-fg-primary-light: #d0e0d8;
  --black-atom-black-atom-operations-fg-secondary-dark: #5b6f68;
  --black-atom-black-atom-operations-fg-secondary-main: #738b83;
  --black-atom-black-atom-operations-fg-secondary-light: #9fafa7;
  --black-atom-black-atom-operations-fg-active: #88dc96;
  --black-atom-black-atom-operations-fg-invert: #181b1a;
  --black-atom-black-atom-operations-fg-neutral: #52635d;

  /* Syntax */
  --black-atom-black-atom-operations-syntax-default: #c4d4cc;
  --black-atom-black-atom-operations-syntax-variable: #c4d4cc;
  --black-atom-black-atom-operations-syntax-variable-builtin: #c4d4cc;
  --black-atom-black-atom-operations-syntax-constant: #9fafa7;
  --black-atom-black-atom-operations-syntax-constant-builtin: #9fafa7;
  --black-atom-black-atom-operations-syntax-string: #a0ce7d;
  --black-atom-black-atom-operations-syntax-comment: #52635d;
  --black-atom-black-atom-operations-syntax-keyword: #a6a1df;
  --black-atom-black-atom-operations-syntax-function: #9BE197;
  --black-atom-black-atom-operations-syntax-type: #88dc96;
}
