:root {
  /* Primaries */
  --black-atom-black-atom-medical-primary-0: #222325;
  --black-atom-black-atom-medical-primary-1: #313533;
  --black-atom-black-atom-medical-primary-2: #3e4542;
  --black-atom-black-atom-medical-primary-3: #4a514f;
  --black-atom-black-atom-medical-primary-4: #545d5a;
  --black-atom-black-atom-medical-primary-5: #616a65;
  --black-atom-black-atom-medical-primary-6: #6d7873;
  --black-atom-black-atom-medical-primary-7: #7a8782;
  --black-atom-black-atom-medical-primary-8: #bcc3c0;
  --black-atom-black-atom-medical-primary-9: #c8cfcd;
  --black-atom-black-atom-medical-primary-10: #d4dbd8;
  --black-atom-black-atom-medical-primary-11: #e6e8e6;

  /* Palette */
  --black-atom-black-atom-medical-black: #313533;
  --black-atom-black-atom-medical-gray: #545d5a;
  --black-atom-black-atom-medical-dark-red: #5d54ad;
  --black-atom-black-atom-medical-red: #7872c2;
  --black-atom-black-atom-medical-dark-green: #628942;
  --black-atom-black-atom-medical-green: #6e9a4b;
  --black-atom-black-atom-medical-dark-yellow: #4a514f;
  --black-atom-black-atom-medical-yellow: #57ab52;
  --black-atom-black-atom-medical-dark-blue: #616a65;
  --black-atom-black-atom-medical-blue: #545d5a;
  --black-atom-black-atom-medical-dark-magenta: #887bd3;
  --black-atom-black-atom-medical-magenta: #998ed9;
  --black-atom-black-atom-medical-dark-cyan: #459f55;
  --black-atom-black-atom-medical-cyan: #4db15e;
  --black-atom-black-atom-medical-light-gray: #7a8782;
  --black-atom-black-atom-medical-white: #d4dbd8;

  /* Semantics */
  --black-atom-black-atom-medical-bg-primary-dark: #c8cfcd;
  --black-atom-black-atom-medical-bg-primary-main: #d4dbd8;
  --black-atom-black-atom-medical-bg-primary-light: #e6e8e6;
  --black-atom-black-atom-medical-bg-secondary-dark: #6d7873;
  --black-atom-black-atom-medical-bg-secondary-main: #7a8782;
  --black-atom-black-atom-medical-bg-secondary-light: #bcc3c0;
  --black-atom-black-atom-medical-bg-active: #545d5a;
  --black-atom-black-atom-medical-bg-match-active: #c8cfcd;
  --black-atom-black-atom-medical-bg-match-passive: #d4dbd8;
  --black-atom-black-atom-medical-fg-primary-dark: #222325;
  --black-atom-black-atom-medical-fg-primary-main: #313533;
  --black-atom-black-atom-medical-fg-primary-light: #3e4542;
  --black-atom-black-atom-medical-fg-secondary-dark: #4a514f;
  --black-atom-black-atom-medical-fg-secondary-main: #545d5a;
  --black-atom-black-atom-medical-fg-secondary-light: #616a65;
  --black-atom-black-atom-medical-fg-active: #4db15e;
  --black-atom-black-atom-medical-fg-invert: #d4dbd8;
  --black-atom-black-atom-medical-fg-neutral: #6d7873;

  /* Syntax */
  --black-atom-black-atom-medical-syntax-default: #313533;
  --black-atom-black-atom-medical-syntax-variable: #545d5a;
  --black-atom-black-atom-medical-syntax-variable-builtin: #616a65;
  --black-atom-black-atom-medical-syntax-constant: #887bd3;
  --black-atom-black-atom-medical-syntax-constant-builtin: #998ed9;
  --black-atom-black-atom-medical-syntax-string: #6e9a4b;
  --black-atom-black-atom-medical-syntax-comment: #4a514f;
  --black-atom-black-atom-medical-syntax-keyword: #7872c2;
  --black-atom-black-atom-medical-syntax-function: #57ab52;
  --black-atom-black-atom-medical-syntax-type: #4db15e;
}
