:root {
  /* Primaries */
  --black-atom-black-atom-engineering-primary-0: #040505;
  --black-atom-black-atom-engineering-primary-1: #0e1110;
  --black-atom-black-atom-engineering-primary-2: #181b19;
  --black-atom-black-atom-engineering-primary-3: #1d201e;
  --black-atom-black-atom-engineering-primary-4: #3e4441;
  --black-atom-black-atom-engineering-primary-5: #565f59;
  --black-atom-black-atom-engineering-primary-6: #606a65;
  --black-atom-black-atom-engineering-primary-7: #79857f;
  --black-atom-black-atom-engineering-primary-8: #9fafa7;
  --black-atom-black-atom-engineering-primary-9: #abbbb3;
  --black-atom-black-atom-engineering-primary-10: #c4d4cc;
  --black-atom-black-atom-engineering-primary-11: #d0e0d8;

  /* Palette */
  --black-atom-black-atom-engineering-black: #181b19;
  --black-atom-black-atom-engineering-gray: #565f59;
  --black-atom-black-atom-engineering-dark-red: #9891d6;
  --black-atom-black-atom-engineering-red: #a6a1df;
  --black-atom-black-atom-engineering-dark-green: #93c270;
  --black-atom-black-atom-engineering-green: #a0ce7d;
  --black-atom-black-atom-engineering-dark-yellow: #abbbb3;
  --black-atom-black-atom-engineering-yellow: #9BE197;
  --black-atom-black-atom-engineering-dark-blue: #9fafa7;
  --black-atom-black-atom-engineering-blue: #c4d4cc;
  --black-atom-black-atom-engineering-dark-magenta: #a498e9;
  --black-atom-black-atom-engineering-magenta: #b7aded;
  --black-atom-black-atom-engineering-dark-cyan: #6ac779;
  --black-atom-black-atom-engineering-cyan: #88dc96;
  --black-atom-black-atom-engineering-light-gray: #9fafa7;
  --black-atom-black-atom-engineering-white: #d0e0d8;

  /* Semantics */
  --black-atom-black-atom-engineering-bg-primary-dark: #040505;
  --black-atom-black-atom-engineering-bg-primary-main: #0e1110;
  --black-atom-black-atom-engineering-bg-primary-light: #181b19;
  --black-atom-black-atom-engineering-bg-secondary-dark: #1d201e;
  --black-atom-black-atom-engineering-bg-secondary-main: #3e4441;
  --black-atom-black-atom-engineering-bg-secondary-light: #565f59;
  --black-atom-black-atom-engineering-bg-active: #1d201e;
  --black-atom-black-atom-engineering-bg-match-active: #181b19;
  --black-atom-black-atom-engineering-bg-match-passive: #1d201e;
  --black-atom-black-atom-engineering-fg-primary-dark: #abbbb3;
  --black-atom-black-atom-engineering-fg-primary-main: #c4d4cc;
  --black-atom-black-atom-engineering-fg-primary-light: #d0e0d8;
  --black-atom-black-atom-engineering-fg-secondary-dark: #606a65;
  --black-atom-black-atom-engineering-fg-secondary-main: #79857f;
  --black-atom-black-atom-engineering-fg-secondary-light: #9fafa7;
  --black-atom-black-atom-engineering-fg-active: #88dc96;
  --black-atom-black-atom-engineering-fg-invert: #0e1110;
  --black-atom-black-atom-engineering-fg-neutral: #565f59;

  /* Syntax */
  --black-atom-black-atom-engineering-syntax-default: #c4d4cc;
  --black-atom-black-atom-engineering-syntax-variable: #c4d4cc;
  --black-atom-black-atom-engineering-syntax-variable-builtin: #c4d4cc;
  --black-atom-black-atom-engineering-syntax-constant: #abbbb3;
  --black-atom-black-atom-engineering-syntax-constant-builtin: #abbbb3;
  --black-atom-black-atom-engineering-syntax-string: #a0ce7d;
  --black-atom-black-atom-engineering-syntax-comment: #565f59;
  --black-atom-black-atom-engineering-syntax-keyword: #a6a1df;
  --black-atom-black-atom-engineering-syntax-function: #9BE197;
  --black-atom-black-atom-engineering-syntax-type: #88dc96;
}
